@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@custom-variant hover (&:hover);

@layer base {
  body {
    @apply font-['Roboto'] text-black; /* Replace with your desired Tailwind classes */
  }
}

@theme {
  --color-blue-dark: #0074EC;
  --color-blue-light: #D2EDF2;
  --color-pink: #D8226C;
  --color-green: #029456;
  --color-orange: #F86A38;

  --color-blue-dark-hover: #005BB3;
  --color-blue-light-hover: #B2DAE4;
  --color-pink-hover: #EFB1CC;
  --color-green-hover: #BCE4CE;
}

::placeholder {
  text-indent: 5px;
  font-style: italic;
}